# Archivo que uso para loggear el script
*.pyc
*.swp
config.inc.php
php-frontend/data/logs/log.txt
php-frontend/data/logs/error.txt
!php-frontend/data/logs/LEEME
!php-frontend/data/logs/.htaccess
php-frontend/data/cache/*
!php-frontend/data/cache/LEEME
!php-frontend/data/cache/.htaccess
php-frontend/data/oldcaches/*
!php-frontend/data/oldcaches/LEEME
!php-frontend/data/oldcaches/.htaccess

