# Archivo que uso para loggear el script
*.pyc
*.swp
config.inc.php
php-frontend/tms/logs/log.txt
php-frontend/tms/logs/error.txt
!php-frontend/tms/logs/LEEME
php-frontend/tms/cache/*
!php-frontend/tms/cache/LEEME
